.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 1rem;
}
.modal-content, .modal-box {
    background: white;
    border-radius: 10px;
    max-width: 800px;
    padding: 20px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: auto;
}
.close, .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }
.modal-heading {
    font-size: 2rem;
    margin-bottom: 0px;
    color: #1d2d44;
    text-align: center;
}
.audio-list {
    overflow-y: auto;
    max-height: 70vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.audio-item {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.audio-info p {
    font-size: 14px;
    color: #555;
}
/* .modal-info {
    padding-top: 20px;
  } */
.modal-data {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: #333;
}
@media (max-width: 768px) {
    .modal-content, .modal-box {
      width: 90%;
      max-width: 100%;
    }
  }
  @media (max-width: 480px) {
    .modal-heading {
      font-size: 1.5rem;
    }
    .modal-data {
      font-size: 15px;
      line-height: 20px;
    }
    .audio-player {
      width: 100%;
    }
    .modal-body h2{
      font-size: 0.7rem;
    }
  }