.video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
/* .founder-video-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.founder-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.home-heading{
    text-align: center;
    margin:20px;
    color: #1d2d44;
    font-size: 2rem;
}
.founders-heading{
    text-align: center;
    font-size: 2rem;
    padding-top: 0%;
    color: #1d2d44;
    position:relative;
}
.founders-div {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 20px;
    padding: 20px 0px;
}
.founder-subdiv{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 20px;
    padding: 5px 0px;
}
.founders-card {
    flex: 1;
    background-color: white;
    padding: 10px;
    width: auto;
    height: auto;
    max-width: min(90%,320px);
    max-height: 500px;
    border-radius: 30px;
    border-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.4s ease;
}
.founders-card:hover {
    transform: translateY(-5px);
}
.founder-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.founder-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.founder-name {
    font-size: 1.2rem;
    color:#1d2d44;
    margin-bottom: 10px;
}
.pioneers-div {
    text-align: center;
    margin: 2% 8%;
    padding:20px 0px;
    padding-bottom: 200px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}
.pioneers-heading {
    font-size: 2rem;
    color: #003366;
    margin-bottom: 20px;
}
.pioneers-subdiv {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    opacity: 0;
    transform: scale(0.8);
    position: absolute;
    transition: opacity 1s ease-in, transform 1s ease-out;
    width: 100%;
}
.pioneers-subdiv:first-child {
    opacity: 1;
    transform: scale(1);
    position: relative;
}
.pioneers-child {
    text-align: center;
}
.pioneer-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #003366;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.pioneer-name{
    font-size: 1rem;
    color: #333;
    margin-top: 5px;
}
.pioneers-detail{
    text-align: center;
    color: #003366;
    margin-bottom:20px;
    font-weight: bold;
}
.history-ipc{
    font-size: 1.2rem;
    line-height: 30px;
    text-align: justify;
    margin: 20px 10px;
    color: #1d2d44;
}
.audio-container h2{
    color:#1d2d44;
    text-align: center;
    margin: 10px 0;
}
.audio-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: white;
    margin-bottom: 40px;
    max-width: 500px;
    padding: 20px;
    flex: 1;
    height: auto;
    border-radius: 30px;
    border-color:  #1d2d44;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease;
}
.audio-container p{
    margin: 10px;
}
.home-pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.pdf-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pdf-link1{
    text-decoration: none;
    font-weight: bold;
    width: auto;
    text-align: center;
    align-items: center;
    font-size: 16px;
    padding: 8px 12px;
    color: #374558;
    background-color: white;
    border: 2px solid  #1d2d44;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.pdf-link1:hover {
    background-color: #003366;
    color: white;
}
.founder-subpage-btn{
    color :#003366;
    font-size: 15px;
    border : 2px solid #003366;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}
.founder-subpage-btn:hover{
    color :white;
    background-color: #003366;
    cursor: pointer;
}
@media (max-width: 1024px){
    .founders-heading {
        font-size: 2rem;
    }
    .founders-div {
        flex-direction: column;
    }
}

@media (max-width: 800px){
    .founder-video {
        border-radius: 15px;
    }
    .founders-heading {
        font-size: 1.8rem;
    }
    .founders-div {
        padding: 20px 10px;
    }
    .home-heading{
        margin: 0px;
    }
    .pioneers-section {
        flex-direction: column;
        align-items: center;
    }
    .pioneers-subdiv {
        height: fit-content;
        width: 100%;
        display: flex !important;
        flex-direction: row !important;
        gap: 20px;
    }
    .pastor-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .pioneers-child {
        width: 150px;
    }
    .pioneer-img {
        max-width: 140px;
    }
}
@media (max-width: 480px){
    .founder-video {
        border-radius: 10px;
    }
    .home-heading{
        font-size: 1.2rem !important;
    }
    .founder-subdiv{
        flex-direction: row;
        align-items: center;
        gap:10px;
    }
    .founders-heading {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    .founders-card {
        max-width: 200px;
        width: 100%;
    }
    .founder-img{
        width: 100px;
        height: 100px;
    }
    .founder-name{
        font-size: 0.8rem;
    }
    .founder-subpage-btn{
        font-size:0.9rem;
    }
    .pioneers-heading{
        font-size: 20px;
        margin-bottom: 0px;
    }
    .pioneers-div{
        margin: 1%;
        padding-bottom: 120px;
    }
    .pioneers-subdiv {
        gap: 1px;
        height: fit-content;
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
    }
    .pioneers-child {
        width: 100%;
    }
    .pioneer-img {
        width: 70px;
        height: 70px;
    }
    .pioneer-name{
        font-size: 9px;
    }
    .pioneers-detail{
        margin-top: 10px;
        font-size: 14px;
        line-height: 16px;
    }
    .history-ipc{
        font-size: 15px;
        line-height: 20px;
    }
    .audio-container{
        max-width: 300px;
    }
    .audio-container h2{
        font-size: 20px;
    }
    .pdf-link1{
        font-size: 14px;
        padding: 5px;
    }
    .pdf-row{
        flex-direction: column;
        gap: 10px;
    }
}