html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.header1 {
    display: flex;
    position:sticky;
    top: 0;
    z-index: 10;
    overflow: visible;
    justify-content: space-between;
    background-image: url('https://i.pinimg.com/736x/29/6b/4d/296b4d2764b96e2728ddf9db10cda9e2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0px;
    height: auto;
    box-shadow: 0 3px 8px wheat;
    width: 100%;
}
.subheader1{
    display: flex;
    gap: 0px;
}
.header {
    margin: 0;
    margin-top: 18px;
    font-size: 28px;
    color: #ffffff;
    font-family: 'Osrich-sans';
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.menu-icon {
    display: none;
}
.logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.direct-links {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 8px 10px;
    border-radius: 4px;
    font-family: 'Ostrich-sans';
    transition: background-color 0.3s ease, color 0.3s ease;
}
.direct-links:hover {
    background-color: white;
    color:  #1d2d44;
}
@media (max-width: 1024px){
    .header1 {
        flex-direction: column;
        text-align: center;
    }
    .menu-icon{
        display: block;
    }
    .nav-links.show{
        display: flex;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 15px;
    }
}
@media (max-width: 800px){
    .subheader1{
        gap: 20px;
        padding: 0px;
        max-height: 70px;
    }
    .header{
        font-size: 30px;
    }
    .logo{
        width: 70px;
    }
    .menu-icon{
        display: none;
    }
    .nav-container{
        display: flex;
        flex-direction: row;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        padding-bottom: 10px;
        border-radius: 8px;
        text-align: center;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease;
    }
    .direct-links {
        display: block;
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding: 5px 7px;
        border: 2px solid rgba(255, 255, 255, 0.745);
        border-radius: 8px;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

@media (max-width:480px) {
    .subheader1{
        justify-content: start;
        height: 40px;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .header{
        margin-top: 7px;
        font-size: 20px;
    }
    .nav-links {
        display: none;
        flex-direction: column !important;
        gap: 10px;
        width: 100%;
        text-align: center;
    }
    .menu-icon {
        display: block;
        margin-right: auto;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }
    .nav-links.show {
        display: flex;
    }
    .direct-links{
        font-size: 10px;
    }
}